/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* Typography */
h1, p {
	letter-spacing: 1px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	padding-bottom: 14px;
	color: darkblue;
}

/* Table */
table:hover {
	cursor: pointer;
}

/* Buttons */
.btn {
	margin: 25px;
}

/* Forms */
label {
	font-size: 20px;
}