/* This is the main stylesheets */

/* Typography */
h1, p {
	letter-spacing: 1px;
}

h1 {
	padding-bottom: 14px;
	color: darkblue;
}

table:hover {
	cursor: pointer;
}

.highlighted = {
	background-color: lightyellow;
}

.higlighted:hover {
	background-color: yellow;
}

.btn {
	margin: 25px;

}